@import 
'../components/sectionHome/SectionHome',
'../components/sectionAboutUs/SectionAboutUs',
'../components/sectionMenu/SectionMenu',
'../components/sectionInterior/SectionInterior',
'../components/sectionContacts/SectionContacts',
'../components/MenuChapters',
'../assets/sectionTitle/SectionTitle',
'../components/menuItem/MenuItem',
'./fonts';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Quicksand";
    padding-bottom: 50px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.section {
    opacity: 0;
    min-height: 100vh;
    transition: 0.5s ease;
    position: relative;
    transform: translateY(-20px);
}

.visible {
    opacity: 1;
    transform: translateY(0px);
}

.to-home {
    opacity: 0;
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    background-color: #ffc100;
    transition: 0.3s;
    border-radius: 10px;
    transform: translateY(-20px);
    cursor: default;

    &:hover {
        background-color: #d09c00;
    }
}

.to-home.visible {
    opacity: 1!important;
    transform: translateY(0px)!important;
    cursor: pointer;
}

.chapter-header {
    @keyframes show {
        to {transform: translateY(0px);}
    }

    background-color: #FDBD00;
    display: flex;
    align-content: center;
    justify-content: space-around;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border: 1.5px solid #dda600;
    padding-inline: 310px;
    padding-block: 20px;
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #9d7600;
    transform: translateY(-80px);
    animation: show 0.5s forwards;

    &_btn {
        background: transparent;
        border: none;
        font-family: "Quicksand";
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            background-color: black;
            height: 2.5px;
            width: 0%;
            transition: 0.2s;
        }

        &:hover::after {
            width: 100%;
            left: 0%;
        }
    }
}
