@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.homepage {
  background-image: url("../assets/landingBg.jpg");
  background-size: cover;
  color: white;
  opacity: 1 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-inline: 67px;
}
.header__navigation_list {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.header__navigation_item_btn {
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
}
.header__navigation_item_btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: white;
  height: 2px;
  width: 0%;
  transition: 0.2s;
}
.header__navigation_item_btn:hover::after {
  width: 100%;
  left: 0%;
}
.header__info {
  opacity: 0;
  font-size: 20px;
  font-weight: 300;
  z-index: 2;
  animation: appear 0.5s forwards;
  animation-delay: 0.2s;
}

#menu-link {
  opacity: 0;
  animation: appear 0.5s forwards;
}

#aboutUs-link {
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: 0.1s;
}

#contacts-link {
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: 0.2s;
}

strong {
  font-weight: 500;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 200;
}

.logo {
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: 0.3s;
}

.description {
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  animation: appear 0.5s forwards;
  animation-delay: 0.4s;
  background-color: black;
  padding: 10px;
}

.schedule {
  opacity: 0;
  margin-bottom: 151px;
  text-align: center;
  animation: appear 0.5s forwards;
  animation-delay: 0.5s;
  background-color: black;
  padding: 10px;
}

.about-us {
  font-size: 24px;
  padding-inline: 159px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 159px;
       column-gap: 159px;
  row-gap: 82px;
  font-weight: 300;
  padding: 0;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__item_desc {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.features__item_explain {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chapters {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  padding-inline: 82px;
}
.chapters__header {
  display: flex;
  -moz-column-gap: 57px;
       column-gap: 57px;
  margin-bottom: 57px;
}
.chapters__footer {
  display: flex;
  -moz-column-gap: 57px;
       column-gap: 57px;
}
.chapters__item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 10px #888888;
}
.chapters__item p {
  position: absolute;
  align-self: center;
}
.chapters__item:hover {
  transform: translateY(-20px);
  box-shadow: 0px 20px 20px #888888;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 21px;
}
.pictures__section {
  display: flex;
  gap: 21px;
}

.content {
  font-size: 24px;
  font-weight: 300;
  padding-inline: 70px;
  display: flex;
  justify-content: space-between;
}

.menu-chapter {
  padding-top: 120px;
  padding-inline: 85px;
  opacity: 0;
  animation: emerge 0.5s forwards;
}
@keyframes emerge {
  to {
    opacity: 1;
  }
}
.menu-chapter__title {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  text-align: center;
}

.time {
  font-size: 24px;
  font-weight: 700;
}

.title-name {
  font-size: 32px;
  font-weight: 700;
}

.warning {
  font-size: 24px;
  font-weight: 300;
}

.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 67px;
}

.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 40px;
  position: absolute;
  z-index: 2;
  margin: 0;
}

.blob {
  z-index: 1;
}

.menu-item {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.menu-item__text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.menu-item__info {
  display: flex;
  justify-content: space-between;
}
.menu-item__title, .menu-item__price {
  font-size: 30px;
  font-weight: 700;
}
.menu-item__price {
  margin-top: 50px;
}
.menu-item__description {
  font-size: 24px;
  font-weight: 300;
  width: 65%;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Quicksand";
  padding-bottom: 50px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.section {
  opacity: 0;
  min-height: 100vh;
  transition: 0.5s ease;
  position: relative;
  transform: translateY(-20px);
}

.visible {
  opacity: 1;
  transform: translateY(0px);
}

.to-home {
  opacity: 0;
  position: fixed;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  background-color: #ffc100;
  transition: 0.3s;
  border-radius: 10px;
  transform: translateY(-20px);
  cursor: default;
}
.to-home:hover {
  background-color: #d09c00;
}

.to-home.visible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  cursor: pointer;
}

.chapter-header {
  background-color: #FDBD00;
  display: flex;
  align-content: center;
  justify-content: space-around;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border: 1.5px solid #dda600;
  padding-inline: 310px;
  padding-block: 20px;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #9d7600;
  transform: translateY(-80px);
  animation: show 0.5s forwards;
}
@keyframes show {
  to {
    transform: translateY(0px);
  }
}
.chapter-header_btn {
  background: transparent;
  border: none;
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin: 0;
}
.chapter-header_btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: black;
  height: 2.5px;
  width: 0%;
  transition: 0.2s;
}
.chapter-header_btn:hover::after {
  width: 100%;
  left: 0%;
}/*# sourceMappingURL=styles.css.map */