@import 
'../components/sectionHome/SectionHome',
'../components/sectionAboutUs/SectionAboutUs',
'../components/sectionMenu/SectionMenu',
'../components/sectionInterior/SectionInterior',
'../components/sectionContacts/SectionContacts',
'../components/menuBar/MenuBar',
'../components/menuBreakfast/MenuBreakfast',
'../components/menuChildren/MenuChildren',
'../components/menuDinner/MenuDinner',
'../components/menuGrill/MenuGrill',
'../assets/sectionTitle/SectionTitle',
'./fonts';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Inter";
    padding-bottom: 200px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.section {
    opacity: 0;
    min-height: 100vh;
    transition: 0.5s ease;
    position: relative;
    transform: translateY(-20px);
}

.visible {
    opacity: 1;
    transform: translateY(0px);
}

.to-home {
    opacity: 0;
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    background-color: #ffc100;
    transition: 0.5s;
    border-radius: 10px;
    transform: translateY(-20px);
    cursor: default;

    &:hover {
        background-color: #d09c00;
    }
}

.to-home.visible {
    opacity: 1!important;
    transform: translateY(0px)!important;
    cursor: pointer;
}
