@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.homepage {
    background-image: url('../assets/landingBg.jpg');
    background-size: cover;
    color: white;
    opacity: 1!important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-inline: 67px;

    &__navigation {

        &_list {
            display: flex;
            column-gap: 45px;
        }

        &_item {
            &_btn {
                font-size: 20px;
                font-weight: 700;
                background: transparent;
                border: none;
                color: white;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    background-color: white;
                    height: 2px;
                    width: 0%;
                    transition: 0.2s;
                }

                &:hover::after {
                    width: 100%;
                    left: 0%;
                }
            }
        }
    }

    &__info {
        opacity: 0;
        font-size: 20px;
        font-weight: 300;
        z-index: 2;

        animation: appear 0.5s forwards;
        animation-delay: 0.2s;
    }
}

#menu-link {
    opacity: 0;
    animation: appear 0.5s forwards;
}

#aboutUs-link {
    opacity: 0;
    animation: appear 0.5s forwards;
    animation-delay: 0.1s;
}

#contacts-link {
    opacity: 0;
    animation: appear 0.5s forwards;
    animation-delay: 0.2s;
}

strong {
    font-weight: 500;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 200;
}

.logo {
    opacity: 0;
    animation: appear 0.5s forwards;
    animation-delay: 0.3s;
}

.description {
    opacity: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    animation: appear 0.5s forwards;
    animation-delay: 0.4s;
    background-color: black;
    padding: 10px;
}

.schedule {
    opacity: 0;
    margin-bottom: 151px;
    text-align: center;
    animation: appear 0.5s forwards;
    animation-delay: 0.5s;
    background-color: black;
    padding: 10px;
}

